  p{
    font-family: Arial;
  }
  .shopping{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  .see{
    text-align: center;
  }
  .learn{
    text-align: center;
    color: rgb(77, 77, 236);
    cursor: pointer;
  }
